/* description part */
dl {
	margin-bottom: 20px;
}
dl:before, dl:after {
	content: "";
	display: table;
	line-height: 0;
}
dl:before, dl:after {
	content: "";
	display: table;
	line-height: 0;
}
dl:after {
	clear: both;
}

dt, dd {
	line-height: 20px;
}
dt {
	font-weight: bold;
}
dl dt {
	clear: left;
	float: left;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}


dt, dd {
	line-height: 20px;
}
dd {
	margin-left: 10px;
}
dl dd {
	margin-left: 180px;
}

.d2d-server-voting-link {
  float: right;
  margin-top: 3px;
  background: url("../img/like_white.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 25px;
  text-indent: -9999px;
  width: 27px;
  margin-right: 6px;
}

.d2d-server-voted-sign{
  float: right;
  margin-top: 3px;
  background: url("../img/like_black.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 25px;
  text-indent: -9999px;
  width: 27px;
  margin-right: 5px;
}

.backtoserver-button-link {
  float: right;
  background: url("../img/home.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 25px;
  text-indent: -9999px;
  width: 27px;
  margin-top: 2px;
}

.field-type-taxonomy-term-reference .field-item {
	display: inline;
	padding-right: 10px;
}
